{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign highest_ratio = 0
  for block in section.blocks
    if block.settings.image.aspect_ratio > highest_ratio
      assign highest_ratio = block.settings.image.aspect_ratio
    endif
  endfor
-%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      {%- if section.settings.title != blank -%}
      <div class="title-wrapper {% if section.settings.heading_border == blank %}no-border{% endif %}">
        {%- if section.settings.title != blank or section.settings.content != blank -%}
          <h2 class="title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.title }}
          </h2>
        {%- endif -%}
        {% if section.settings.content != blank %}
        <div class="rte">
          {{ section.settings.content }}
        </div>  
        {%- endif -%}
      </div>
      {%- endif -%}
      {% if section.blocks.size > 0 %}
      <div class="flex-wrap faqs__list">
        <div class="faqs__col">
          {%- for block in section.blocks -%}
            {% if block.type == 'faq_left' %}
            <div class="faqs__item">
              {% if block.settings.title != blank %}
              <p class="faq__question">{{ block.settings.title }}</p>
              {% endif %}
            
              {% if block.settings.content != blank %}
              <div class="rte">
                {{ block.settings.content }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="faqs__col">
          {%- for block in section.blocks -%}
            {% if block.type == 'faq_right' %}
            <div class="faqs__item">
              {% if block.settings.title != blank %}
              <p class="faq__question">{{ block.settings.title }}</p>
              {% endif %}
            
              {% if block.settings.content != blank %}
              <div class="rte">
                {{ block.settings.content }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>              
      </div>
      {% endif %}
    
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQs",
  "tag": "section",
  "class": "section faqs-section",
  "max_blocks": 12,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "FAQs",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "heading_border",
      "default": false,
      "label": "Enable Heading Border"
    }, 
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Share information about your brand with your customers.</p>",
      "label": "t:sections.rich-text.blocks.text.settings.text.label"
    },        
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "faq_left",
      "name": "Question Left",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Question Here",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Share information about your brand with your customers.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "faq_right",
      "name": "Question Right",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Question Here",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Share information about your brand with your customers.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs",
      "blocks": [
        {
          "type": "faq_left"
        },
        {
          "type": "faq_right"
        },
        {
          "type": "faq_left"
        },
        {
          "type": "faq_right"
        }
      ]
    }
  ]
}
{% endschema %}